/*
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a,a:hover{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*end reset*/
hr{margin:0;padding: 0;}
/*----start-iporting-fonts---*/
body{
	font-family: Open Sans,sans-serif; 	
	/*padding-top: 100px;*/
}
.navbar-brand{
	font-weight: 700;
}
.navbar-default{
	/*background: #fff;*/
}
.tw-header{
	text-align: center;
	margin-top: 50px;
	margin-bottom: 50px;
}
.tw-actions{
	margin-bottom: 70px;
	text-align: center;
}
.tw-actions .fa{
	font-size: 30px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.tw-actions .btn .fa{
	vertical-align: middle;
	font-size: 0.9em;
}
.tw-header-title{
	font-size: 40px;
	font-weight: 300;
}
.tw-header-desc{
	font-size: 20px;
}
.tw-logo{
	font-size: 30px;
	font-weight: bold;
	margin-top: 0px;
}
.tw-navbar{
	padding: 20px 0px;
	background: #f5f5f5;
}
.tw-nav{
	margin-top: 5px;
}
.nav-pills > li > a{
	border-radius: 0px;
	padding: 5px 10px;margin-right: 10px;
}
.tw-section{
text-align: center;margin-bottom: 50px;
}
.tw-section-title{
font-size: 20px;margin-bottom: 10px;
}
.tw-section-desc{

}
.tw-section-icon .fa{
	font-size: 50px;
}
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus{
	background: none;color: #333;border-bottom: 1px dotted #333;
}
/* -----------------------------Sticky footer styles--------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
  background-color: #f5f5f5;
  padding-top: 10px;

}
/* -------------------------------/Sticky footer styles------------------- */
.tw-main-content,.tw-sidebar,.tw-contacts{
	margin-top: 50px;margin-bottom: 50px;
}
.contact-icon{
	width: 100%;
	font-size: 80px;
	text-align: center;
	color: #555;
}
.contact-info, .contact-info a,.contact-info i.fa{
	text-align: center;
	color: #555;
}
.contact-data{
	margin-top: 30px;
}
.contact-info h5{
	font-weight: bold;margin-bottom: 10px;
}
.tw-page-title{
	text-align: center;
	font-size: 32px;margin-top: 20px;margin-bottom: 10px;
}
.tw-logo-img{
	width: 40px;
	height: 40px;
	vertical-align: middle;
}
.tw-nav-col ul{
	float: right;
}
.tw-sidebar-widget-title{
	font-weight: bold;margin-bottom: 5px;
}
/**********************media queries************************/
@media (max-width: 768px) {
	.tw-logo-col{
		text-align: center;
	}
	.tw-nav-col{
		width: 300px;
		margin-left:auto;
		margin-right:auto;
		margin-top: 20px;
	}
	.tw-nav-col ul{
		float: none;
	}
}
